{% if is_granted('ROLE_EMPLOYEE') and app.user %}
  <div id="hbmin-profile">
    <span class="text-nowrap" title="{{ app.user.roles|join(', ') }}">{{ app.user.username }}</span><span id="worker-status" class="badge badge-pill badge-secondary" style="visibility:hidden;" title="laufende/eingereihte/zurückgestellte Jobs">n/a</span><br />
    <a class="text-nowrap" href="{{ path('hbmin_user_profile_show') }}" title="Profil"><i class="fa fa-user-circle "></i>&nbsp;Profil</a>
    |
    <a class="text-nowrap" href="{{ path('hbmin_user_security_logout') }}" title="Logout"><i class="fa fa-sign-out-alt"></i>&nbsp;Logout</a>
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
      |
      <a href="{{ path('hbmin_user_profile_show', {'_takeover': '_exit'}) }}" title="Übernahme beenden"><i class="fa fa-sign-out-alt"></i> Übernahme beenden</a>
    {% endif %}
  </div>
{% endif %}
